/* Geral */

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #444;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #444;
    font-size: 14px;
}

.bg{
    width: 100vw;
    height: 400px;
}

/* Barra de Navegação */

header,
.navbar {
    background-color: black;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 200px;
}

.navbar-brand {
    padding: 0;
    color: red;
}

.navbar-brand:hover {
    color: whitesmoke;
}

#navbar-links a {
    color: red;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}


/*carrosel*/
.carousel{
    margin: 50px 0px;
}

